<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>{% block title %}Go Proverbs{% endblock %}</title>
</head>
<body>
    <div id="navbar">
        {% block navbar %}
        <ul>
            <li><a class="nav-link" href="/proverbs">Homepage</a></li>
            <li><a class="nav-link" href="/proverbs/random">Random Proverb</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
